name: build

on:
  workflow_call:

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install
        uses: wyvox/action-setup-pnpm@v3
        with:
          node-version: 22
          args: --ignore-scripts

      - name: Build
        run: |
          pnpm build

      - name: Prebuildify
        run: |
          pnpm build:gyp-cross -t $(node -v) -i centos7-devtoolset7
          pnpm build:gyp-cross -t $(node -v) -i linux-arm64-lts

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: build-linux
          path: |
            prebuilds/
            dist/

  build-darwin:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install
        uses: wyvox/action-setup-pnpm@v3
        with:
          node-version: 22
          args: --ignore-scripts

      - name: Build
        run: |
          pnpm build

      - name: Prebuildify
        run: |
          pnpm build:gyp -t $(node -v) --arch x64
          pnpm build:gyp -t $(node -v) --arch arm64

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: build-darwin
          path: |
            prebuilds/
            dist/

  build-win32:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install
        uses: wyvox/action-setup-pnpm@v3
        with:
          node-version: 22
          args: --ignore-scripts

      - name: Build
        run: |
          pnpm build

      - name: Prebuildify
        shell: bash
        run: |
          pnpm build:gyp -t $(node -v) --arch x64
          pnpm build:gyp -t $(node -v) --arch arm64

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: build-win32
          path: |
            prebuilds/
            dist/

  test:
    needs: [build-linux, build-darwin, build-win32]
    strategy:
      matrix:
        node: ['lts/-1', 'lts/*', 'latest']
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          pattern: build-*
          merge-multiple: true

      - name: Install
        uses: wyvox/action-setup-pnpm@v3
        with:
          node-version: ${{ matrix.node }}
          args: --ignore-scripts

      - name: Run test with prebuilds
        run: pnpm test

      - name: Send coverage report
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
